.bg-dark {
    min-height: 90px;
}
.hr {
    padding: 16px 0 ;
}
.bg-secondary {
    min-height: 3px;
}

.main {
    min-height: 800px;
}

.block-md-1 {
    min-height: 100%;
}


.block-md-1 .bg-dark:first-child {
    min-height: 250px;
}

.block-md-2 .bg-dark {
    min-height: 233.3333px;
}

.col-20 {
    flex: 0 0 20%;
    max-width: 20%;
    margin-bottom: 16px;
}

.block-md-2 .col-20 .bg-dark {
    min-height: 150px;
}

.block-md-2 .row .col-6 {
    padding: 0 16px 0 16px;
}

.footer .col-sm-4.col-md-4 .bg-dark{ 
    height: 100%;
}

.footer .col-sm-4.col-md-4:last-child {
    row-gap: 15px;
}



